[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/twig"]
	path = modules/twig
	url = https://github.com/tommcdo/kohana-twig
